<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MadSpild</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/kea-logo.png" alt="kea-logo">
            </div>
            <div class="links">
            <ul>
                <li>
                    <a href="">UDDANNELSER</a>
                </li>
                <li>
                    <a href="">EFTERUDDANNELSER</a>
                </li>
                <li>
                    <a href="">FORSKNING & UDVIKLING</a>
                </li>
                <li>
                    <a href="">FOR VIRKSOMHEDER</a>
                </li>
                <li>
                    <a href="">OM KEA</a>
                </li>
            </ul>
            </div>
            <div class="util">
                <div class="language">
                    <p>EN</p>
                </div>
                <div class="search">
                    <img src="/images/search.png" alt="search-icon">
                </div>
            </div>
        </nav>
    </header>
    <div id="landingpage">
        <img src="#"/>
    </div>

    <div class="article-wrapper">
        <div class="left">
        <h4>Tips til at undgå madspild</h4>
        </div>

        <div class="right">
        <h1>Tips til at undgå madspild</h1>
        <ul>
            <li>
                <p class="collapsible-button cb1">Før indkøb: Planlæg dine indkøb</p>
                <div class="hidden-content">
                    <h4>1. Lav en madplan</h4>
                    <p>Planlægning er essentielt, når du skal lave en god madplan, der holder.</p>
                    <p>Inddrag familien. Snak med dem om, hvad de har lyst til at spise, og hvad der skal ske i ugens løb, så I kan planlægge ud fra alles ønsker og aktiviteter.</p>
                    <p>Vælg en fleksibel løsning. Lange ugeplaner ryger tit i vasken, fordi familiens planer ændrer sig. Lav i stedet korte 2-dages moduler, som kan byttes rundt.</p>
                    <p>Gør plads til improvisation – put for eksempel en dag ind til det hver uge.</p>
                </div>
            </li>
            <li>
                <p class="collapsible-button cb2">Under indkøb: Lad dig ikke lokke i supermarkedet</p>
                <div class="hidden-content">
                    <p>Lorem ipsum motherfucjkcer</p>
                </div>
            </li>
            <li>
                <p class="collapsible-button cb3">Efter indkøb: Få maden til at holde længere</p>
                <div class="hidden-content">
                    <p>Lorem ipsum motherfucjkcer</p>
                </div>
            </li>
        </ul>
        </div>
    </div>
</body>
<script>
    "use strict";

    window.addEventListener("load", init);

    function init() {
        document.querySelector(".cb1").addEventListener("click", test);
        document.querySelector(".cb2").addEventListener("click", test);
        document.querySelector(".cb3").addEventListener("click", test);

    }

    function test() {
        this.classList.toggle("active");
        let content = this.nextElementSibling;
        if (content.style.maxHeight){
            content.style.maxHeight = null;
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
        }
    }
</script>
</html>