<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MadSpild</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/kea-logo.png" alt="kea-logo">
            </div>
            <div class="links">
            <ul>
                <li>
                    <a href="">UDDANNELSER</a>
                </li>
                <li>
                    <a href="">EFTERUDDANNELSER</a>
                </li>
                <li>
                    <a href="">FORSKNING & UDVIKLING</a>
                </li>
                <li>
                    <a href="">FOR VIRKSOMHEDER</a>
                </li>
                <li>
                    <a href="">OM KEA</a>
                </li>
            </ul>
            </div>
            <div class="util">
                <div class="language">
                    <p>EN</p>
                </div>
                <div class="search">
                    <img src="/images/search.png" alt="search-icon">
                </div>
            </div>
        </nav>
    </header>
    <div id="landingpage">
        <img src="#"/>
    </div>
    <div id="qoute">
        <p class="qoutetext">"Der er mad nok i verden, og alligevel sulter millioner <br>
            Hvis vi ikke gør noget drastisk, kan det betyde en katastrofe for kloden"</p>
        <h1 id="qouteheader">– FN's Generalsekretær Ban Ki-moon.</h1>
    </div>

    <div class="article-wrapper">
        <div class="left">
            <h4>Info om madspild</h4>
        </div>

        <div class="right">
            <h1>Info om madspild</h1>
            <ul class="info-text">
                <li style="list-style-type: disc">
                    Madaffald er alt affald, der stammer fra mad. Madaffald kan opdeles i to: madspild og
                    øvrigt madaffald. Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud.
                    Øvrigt madaffald er de dele af fødevarerne, der ikke er egnet til at spise. Eksempler på madspild
                    er brød, hel frugt og grønt og middagsrester. Eksempler på øvrigt madaffald er æggeskaller,
                    osteskorper, kaffegrums og kernehuse.
                </li>
                <li style="list-style-type:disc">
                    I Danmark smider vi hvert år mere end 700.000 ton mad ud.
                    Husholdningernes madspild udgør 260.000 ton. Det svarer til 24 % af affaldet i skraldespanden.
                </li>
                <li style="list-style-type:disc">
                    En hustand i et parcelhus smider i gennemsnit 105 kilo mad ud om året.
                    En gennemsnitlig dansk familie smider mad ud for over 3.000 kroner om året.
                </li>
                <li style="list-style-type:disc">
                    Madspild er et stort problem, som ikke alene koster forbrugerne en masse penge,
                    men som også tærer på vores ressourcer og vores miljø.
                </li>
                <li style="list-style-type:disc">
                    Over en tredjedel af klimabelastningen fra fødevareproduktionen er forårsaget
                    af madspild – og kunne således være undgået, alternativt anvendt til globale befolkningsgrupper,
                    der ikke får tilstrækkeligt med nærende mad.
                </li>
            </ul>
        </div>
    </div>

    <div class="article-wrapper">
        <div class="left">
            <h4>Madspild i supermarkeder</h4>
        </div>

        <div class="right">
            <h1>Madspild i supermarkeder</h1>
            <ul class="info-text">
                <li style="list-style-type:disc">
                    Hvert år smider butikker i Danmark omkring 163.000 ton mad ud.
                    Flere supermarkeder er begyndt at lave super-tilbud på varer, som nærmer sig sidste salgsdato,
                    eller give dem væk gratis. På den måde er de med til at mindske madspildet.
                </li>
                <li style="list-style-type:disc">
                    Du kan hjælpe supermarkederne med at mindske madspild – lad være med at tage de varer,
                    der har længst holdbarhed, hvis du ved, at du skal bruge maden samme dag, som du handler.
                </li>
            </ul>
        </div>
    </div>

    <div class="article-wrapper">
        <div class="left">
        <h4>Tips til at undgå madspild</h4>
        </div>

        <div class="right">
        <h1>Tips til at undgå madspild</h1>
        <ul>
            <li>
                <button class="collapse">Før indkøb:</button>
            </li>
            <li>
                <p>Før indkøb: Planlæg dine indkøb</p>
            </li>
            <li>
                <p>Under indkøb: Lad dig ikke lokke i supermarkedet</p>
            </li>
            <li>
                <p>Efter indkøb: Få maden til at holde længere</p>
            </li>
        </ul>
        </div>
    </div>
</body>
</html>