<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MadSpild</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/kea-logo.png" alt="kea-logo">
            </div>
            <div class="links">
            <ul>
                <li>
                    <a href="">UDDANNELSER</a>
                </li>
                <li>
                    <a href="">EFTERUDDANNELSER</a>
                </li>
                <li>
                    <a href="">FORSKNING & UDVIKLING</a>
                </li>
                <li>
                    <a href="">FOR VIRKSOMHEDER</a>
                </li>
                <li>
                    <a href="">OM KEA</a>
                </li>
            </ul>
            </div>
            <div class="util"></div>
        </nav>
    </header>
    <div id="landingpage">
        <img src="#"/>
    </div>
</body>
</html>