* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EDEDED;
    font-family: "Helvetica Neue", serif;

}

nav {
    background-color: #233249;
    display: flex;
    justify-content: space-between;
}

 li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

.links {
    margin-right: 80px;
}

nav ul {
    display: flex;
}

nav li {
    padding: 20px;
}

nav li a {
    color: #FFFFFF;
    font-family: "Helvetica Neue", serif;
    font-size: 15px;
}

nav li:hover {
    background-color: #314562;
    cursor: pointer;
}

.logo {
    background-color: #EA5045;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
}

.logo img {
    height: 37px;
    vertical-align: middle;
}

.util {
    display: flex;
}

.util p {
    padding: 20px;
}

.language {
    display: flex;
    background-color: #FFFFFF;
    color: #EA5045;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.search {
    background-color: #EA5045;
}

.search img {
    height: 16px;
    padding: 20px;
}

.article-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5vw 5vw 0 5vw;
    color: #233249;
    padding-bottom: 60px;
}

.article-wrapper h1 {
    font-size: 66px;
}

.article-wrapper li {
    border-bottom: 2px solid #233249;
    padding-top: 20px;
    font-size: 20px;
}

/*.carrousel1, {
    width: 100vw;
    height: 40vw;
    background-image: url("/images/carrousel1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #1C8AC2;
}*/


#landingpage img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}


.animation {
    animation-name: carrousel_kf;
    animation-duration: 1s;

}

@keyframes carrousel_kf {
    from {
        opacity: 60%;
    }

    to {
        opacity: 100%;
    }
}




/***** test *****/

.collapsible-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}


.hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.hidden-content li {
    border-bottom: none;
    font-size: 16px;
    padding-top: 5px;
}

.hidden-content > * {
    font-size: 16px;
}

.hidden-content h4 {
    padding-top: 20px;
}

.hidden-content p {
    padding: 15px 0 15px 0;
}

.active {
    color: #EA5045;
}


#qoute {
    width:100%;
    height:20%;
    background-color: #4A7D55;
}


.qoutetext{
    text-align: center;
    padding: 0;
    margin: 0 0 12px;
    font-size: 25px;
    font-family: Helvetica;
    line-height: 1.4;
    border: none;
    position: relative;
    padding: 100px 169px 30px 200px;
    color:white;
}

#qouteheader {
    color:white;
    text-align: center;
    padding: 0 0 100px 0;
    letter-spacing: 2px;
    margin-right: 100px;
}

.info-text {
    font-size: 20px;
}

.info-text p {
    padding-top: 20px;
}

.hidden {
    display: none;
}
